// -------------------------
// Categories Card Block
// -------------------------
.w-categories-block {
    .w-section__content {
        position: relative;
    }
}

.w-categories__product {
    @include w-box($white, 0, 0, 5px, rgba($dark-gray, .5));
    margin-bottom: ($global-margin / 3);
    transition: .3s;
    transform: translate3d(0, 0, 0);

    &:hover {
        @include box-shadow(0, 5px, 10px, rgba($shadow-color,.5), '');
        transform: translateY(-2px);
    }
}
