// -------------------------------
// Magento Checkout :: Messages
// -------------------------------
.mg-pg {
    .messages {
        list-style: none;
        margin: 0;

        ul {
            margin: 0;
        }

        > li {
            @include callout-base;
        }

        // Success
        > .success-msg {
            @include callout-style($success-color);
        }

        // Error
        > .error-msg {
            @include callout-style($primary-color);
        }
    }
}
