// ----------------
// Checkout Table
// ----------------
.w-checkout__table {
    color: $dark-gray;

    th {
        white-space: nowrap;
    }

    .w_product-img-wrapper img {
        max-width: 110px;
    }
}

.w-checkout-block__wrapper {
    @include w-box($white, 0, 0, 5px, rgba($shadow-color, .5));
    padding: $global-padding;
}
// --------------------------
// Checkout Table :: QTD Cell
// --------------------------
.w-qtd-cell__button {
    @include font-size(2);
    color: $primary-color;
    cursor: pointer;
    margin: 0 ($global-margin / 2);
}


// -----------------------------
// Checkout Table :: Trash Cell
// -----------------------------
.w-trash-cell__button {
    color: $primary-color;
}

// -----------------------------
// Checkout Table :: Total
// -----------------------------
.w-checkout-table__total__val {
    @include font-size(1.8);
    color: $primary-color;
    white-space: nowrap;
}
