// ---------------------
// Cards Layout
// ---------------------
.w-cards-block {
    .w-section-content {
        @include grid-row(12);
    }
}

%w-card-hover {
    @include box-shadow(1px, 1px, 5px, rgba($shadow-color,.5), "");
    transition: .3s;
    transform: translate3d(0, 0, 0);

    &:hover {
        transform: translateY(-3px);
    }
}

// ---------------------
// Cards Layout :: Card
// ---------------------
.w-card {
    @include grid-column(12, 0);
    margin-bottom: $global-margin;

    @include breakpoint(landscape) {
        @include grid-column(6);
    }

    @include breakpoint(medium) {
        @include grid-column(6);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    @include breakpoint(large) {
        @include grid-column(3);
        margin-bottom: 0;
    }

    &:nth-child(2n+3) {
        @include breakpoint(medium) {
            clear: left;
        }

        @include breakpoint(large) {
            clear: none;
        }
    }
}

.w-card-wrapper {
    .w-section-no__box & {
        @extend %w-card-hover;
    }
}

.w-card-product__image {
    background-color: $white;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;

    @include breakpoint(large) {
        height: 190px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.w-card-product__content {
    background-color: $white;
    line-height: 1;
    padding: $global-padding / 2;

    span {
        color: $primary-color;

        &.w-oldPrice {
            @include font-size(1.7);
            color: $medium-gray;
            display: block;
            text-decoration: line-through;
        }

        &.w-currentPrice {
            display: block;
            margin: 0;
            margin-bottom: $global-margin / 2;
        }
    }

    .w-icon {
        @include before-after-background(20px, $primary-color, 1.2, ($global-margin / 5), 0, '', '\E5C8');
    }
}

.w-card-product__title {
    @include font-size(2);
    font-weight: $global-weight-bold;
    margin-bottom: 0;

    @include breakpoint(large) {
        @include font-size(1.5);
    }
}

.w-card__description {
    @include font-size(1.4);
    height: 38px;
    margin-bottom: 0;
}

.w-card__bullets {
    @include font-size(1.3);
    list-style-position: inside;
    margin-bottom: 0;

    @include breakpoint(medium) {
        @include font-size(1.4);
    }

    li {
        margin-bottom: ($global-margin / 5);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.w-card__footer {
    span {
        @include font-size(1.2);
        color: $medium-gray;
        display: block;
        margin-bottom: ($global-margin / 4);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// ------------------------
// Cards Layout :: Big Card
// ------------------------
.w-card-big {
    @include grid-column(12);
    margin-bottom: $global-margin;
    position: relative;

    &.w-section-content__box {
        @include w-box(transparent, 0, 0, 0, transparent);
    }

    &:only-child {
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .w-card-product__content {
        @include grid-row(12);
        background: none;
        left: 0;
        padding: $global-padding;
        position: absolute;
        top: 0;
        width: 100%;

        @include breakpoint(medium) {
            background-color: transparent;
        }
    }

    .w-card-product__details {
        @include breakpoint(xmedium) {
            @include grid-column(9);
        }
    }

    .w-card-product__image {
        @include breakpoint(medium) {
            left: auto;
            top: auto;
        }

        @include breakpoint(large) {
            height: auto;
        }

        img {
            @include breakpoint(large) {
                max-height: 290px;
            }
        }
    }

    .w-card-product__thumb {
        margin: 0;
        text-align: center;

        @include breakpoint(xmedium) {
            @include grid-column(3);
        }
    }

    .w-card-product__title {
        @include font-size(2);
        margin-bottom: $global-margin;

        @include breakpoint(medium) {
            @include font-size(2.75);
        }
    }

    .w-card-product__pic {
        margin-bottom: ($global-margin * 2);
    }
}

.w-card-product-big {
    .w-card-product__content {
        @include breakpoint(large) {
            @include grid-row;
        }
    }

    .w-card-product__description {
        @include breakpoint(large) {
            @include grid-column(8);
            margin-bottom: 0;
        }
    }

    .w-card-product__action {
        @include breakpoint(large) {
            @include grid-column(4);
        }
    }
}

// ----------------------------------------
// Cards Layout :: Card :: Side
// ----------------------------------------
.w-card-side {
    @include grid-column(12);

    &:last-child {
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .w-card-wrapper {
        @include breakpoint(large) {
            @include grid-row;
        }
    }

    .w-card-product__content {
        padding: $global-padding;

        @include breakpoint(large) {
            @include grid-column(6);
        }
    }

    .w-card-product__image {
        @include breakpoint(large) {
            @include grid-column(6, 0);
        }
    }

    .w-card-product__title {
        @include font-size(3);
        margin-bottom: ($global-margin / 2);
    }

    .w-card__description {
        @include font-size(1.4);
    }

    &.w-card-big-image {
        .w-card-product__content {
            padding: ($global-padding * 1.5);

            @include breakpoint(large) {
                @include grid-column(4);
            }
        }

        .w-card-product__image {
            @include breakpoint(large) {
                @include grid-column(8, 0);
            }
        }

        .w-card-product__title {
            @include font-size(2);
        }

        .w-card__description {
            @include font-size(1.5);

            @include breakpoint(medium) {
                @include font-size(1.8);
            }
        }
    }
}

// ----------------------------------------
// Cards Layout :: Big Card :: Side Content
// ----------------------------------------
.w-card-big-side {
    @include grid-column(12);

    &:last-child {
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .w-card-wrapper {
        @include breakpoint(medium) {
            @include grid-row(12);
        }
    }

    .w-card-product__content {
        padding: $global-padding;

        @include breakpoint(medium) {
            @include grid-column(5);
        }

        .w-card-product__title {
            @include font-size(1.7);
        }

        .w-card__description {
            margin-bottom: $global-margin;

            @include breakpoint(medium) {
                @include font-size(1.8);
            }
        }
    }

    .w-card-product__image {
        @include breakpoint(medium) {
            @include grid-column(7, 0);
        }
    }
}

// -----------------------------------------------
// Cards Layout :: With Icon Used in Contacts Page
// -----------------------------------------------
.w-cards__icon {
    margin-bottom: $global-margin;

    @include breakpoint(medium) {
        @include grid-column(6);
    }

    &:nth-child(2n+3) {
        clear: left;
    }

    .w-cards__icon_wrapper {
        padding: $global-padding;
    }

    .w-cards__icon-box {
        @include w-box($white, 0, 0, 5px, rgba($shadow-color, .5));
    }

    header {
        margin-bottom: ($global-margin / 2);

        .material-icons {
            @include font-size(4.5);
            color: $primary-color;
        }
    }

    h3 {
        @include font-size(1.7);
        font-weight: $global-weight-bold;
    }

    h4 {
        @include font-size(1.6);
        color: $primary-color;
        font-weight: $global-weight-normal;
    }

    li {
        @include font-size(1.4);
        color: $dark-gray;
        font-weight: $global-weight-thin;
    }

    footer {
        margin-top: $global-margin;
        text-align: right;

        a {
            color: $primary-color;
        }
    }
}

// --------------------------
// Cards Layout :: Full Card
// --------------------------
.w-full-card {
    @include breakpoint(medium) {
        margin-bottom: 0;
    }

    .w-card-wrapper {
        position: relative;
    }

    .w-full-card__image {
        margin: 0;
        overflow: hidden;
        position: relative;
        text-align: center;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .w-full-card__content {
        background-color: transparent;
        bottom: 0;
        left: 0;
        padding: $global-padding;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .w-full-card__title {
        @include font-size(2);
        color: $white;

        b {
            @include font-size(2.5);
            display: block;
            font-weight: $global-weight-bold;
        }
    }

    a {
        color: $white;
    }

    .w-full-card__button {
        width: 100%;
    }

    &.swiper-slide {
        margin-bottom: 0;
        padding: 0;

        .w-full-card__content {
            padding: 0;
        }

        .w-full-card__button {
            margin-bottom: $global-margin;
            width: auto;
        }
    }
}

// -----------------------
// Cards Layout :: Product
// -----------------------
.w-card-product {
    .w-card-product__description {
        margin-bottom: $global-margin;
    }

    .w-button-primary {
        margin-bottom: 0;
        width: 100%;
    }
}

// ----------------
// Cards Categories
// ----------------
.w-card-category {
    margin-bottom: $global-margin;

    @include breakpoint(large) {
        margin-bottom: ($global-margin / 3);
    }

    .w-card-product__content {
        height: auto;
        padding: ($global-padding / 2) $global-padding;
    }

    .w-card-product__subtitle {
        @include font-size(1.2);
        display: block;
        height: 16px;
    }

    .w-card-product__title {
        @include font-size(2.7);
        color: $primary-color;
        display: block;
        font-weight: $global-weight-black;
        margin-bottom: ($global-margin / 2);
        text-transform: uppercase;

        @include breakpoint(medium) {
            @include font-size(2);
        }
    }

    .w-card__description {
        @include font-size(1.3);
        height: 36px;
        margin-bottom: ($global-margin / 2);
    }

    .w-card__footer {
        span {
            @include font-size(1.2);
            color: $medium-gray;
            display: block;
            margin-bottom: ($global-margin / 4);
        }
    }
}

// -----------
// Cards Equal
// -----------
.w-card-equal {
    @include with-count(1) {
        @include breakpoint(large) {
            @include grid-column(12);
        }
    }

    @include with-count(2) {
        @include breakpoint(large) {
            @include grid-column(6);
        }
    }

    @include with-count(3) {
        @include breakpoint(large) {
            @include grid-column(4);
        }
    }

    @include with-count(4) {
        @include breakpoint(large) {
            @include grid-column(3);
        }
    }
}
