// ---------------------
// Product Component
// ---------------------
.w-product {
    @include grid-column(12, 0); 
    margin-bottom: $global-margin;
    position: relative;

    @include breakpoint(medium) {
        @include grid-column(6, 0);
        margin-bottom: 0;
    }

    @include breakpoint(large) {
        @include grid-column(3, 0);
    }

    .swiper-wrapper & {
        margin-bottom: 0;
    }
}

.w-product__wrapper {
    @include grid-row;
    background-color: $white;

    @include breakpoint(small only) {
        .w-product-list__row & {
            @include box-shadow(0, 0, 3px, rgba($black ,.1), "");
        }
    }
}

.w-product__image {
    margin: 0;
    min-height: 200px;
    padding: ($global-padding / 2);
    position: relative;
    text-align: center;
}

.w-product__title {
    @include font-size(1.4);
    font-weight: $global-weight-bold;
    margin-bottom: 4px;

    @include breakpoint(medium) {
        height: 32px;
    }
}

.w-product__content {
    padding: 0 ($global-padding / 2);
}

.w-product__description {
    p {
        @include font-size(1.3);
        color: $medium-gray;
        margin-bottom: 0;

        @include breakpoint(medium) {
            height: 36px;
        }
    }
}

.w-product__footer {
    margin-bottom: ($global-margin / 2);
    padding: 0 ($global-padding / 2);
}

.w-product__favorites,
.w-product__addCompare,
.w-product__share {
    @include font-size(1.2);
    color: $medium-gray;
    line-height: 1;

    &:before {
        @include font-size(1.8);
        font-family: 'worten-icons';
        line-height: .5;
        margin-right: ($global-margin / 4);
        vertical-align: middle;
    }

    &:focus {
        color: $medium-gray;
    }

    &.active {
        color: $primary-color;

        &:before {
            color: $primary-color;
        }
    }
}

.w-product__favorites {
    margin-right: ($global-margin / 2);

    &:before {
        content: '\e87e';
    }

    &.active:before {
        content: '\e87d';
    }
}

.w-product__addCompare {
    &:before {
        content: '\e835';
    }

    &.active:before {
        content: '\e834';
    }
}

.w-product__share {
    &:before {
        content: '\e80d';
    }
}

// -------------------------
// Product :: Price
// -------------------------
.w-currentPrice {
    @include font-size(2.5);
    color: $primary-color;
    font-weight: $global-weight-bold;
    margin-right: $global-margin;
}

.w-oldPrice {
    @include font-size(2);
    color: $medium-gray;
    font-weight: $global-weight-bold;
    text-decoration: line-through;
}

// -------------------------
// Product Block :: Full Card
// -------------------------
.w-product-fullcard {
    padding: 0;

    img {
        width: 100%;
    }

    .w-product__content {
        background-color: $white;
        bottom: ($global-margin / 3);
        left: ($global-margin / 3);
        padding: ($global-padding / 2);
        position: absolute;
        right: ($global-margin / 3);
    }
}

.w-product__half {
    @include grid-column(12);

    @include breakpoint(large) {
        @include grid-column(6);
    }
}

.w-product__third {
    @include grid-column(4);
}

.w-product__quarter {
    @include grid-column(3);
}

.w-product-fullcard {
    @include grid-column(12, 0);

    @include breakpoint(large) {
        @include grid-column(3, 0);
        height: 406px;
    }

    img {
        @include breakpoint(large) {
            height: 406px;
        }
    }
}

// -----------------------
// Product Inside a Swiper
// -----------------------
.w-products-slider .swiper-slide {
    width: 85%;

    @include breakpoint(medium) {
        width: 25%;
    }
}
