// ---------------------
// Password Unsmask
// ---------------------
.w-password-label {
    position: relative;
}

.w-password-field + .unmask {
    appearance: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 31px;
}

.w-password-field + .unmask:before {
    @include font-size(2.4);
    color: $light-gray;
    content: '\e8f4';
    font-family: 'worten-icons';
    z-index: 1;
}

.w-password-field[type="text"] + .unmask:before {
    color: $dark-gray;
    z-index: 2;
}
