// ---------------------
// Content Page
// ---------------------

// -----------------------------
// Content Page :: List Block
// -----------------------------
.w-content__list__wrapper {
    margin-bottom: $global-margin;

    .w-section-content__box {
        @include breakpoint(large) {
            @include grid-row;
        }
    }
}

.w-content__list__content {
    @include breakpoint(large) {
        padding: $global-padding;
        @include grid-column(6, 25);
    }
}

.w-content__list__image {
    @include breakpoint(large) {
        @include grid-column(6, 0);
    }
}

// -------------------------------
// Content Page :: Product Teaser
// -------------------------------
.w-content__landing-teaser {
    .w-section-content__box {
        min-height: 400px;
        overflow: hidden;
        padding: $global-padding;
        position: relative;

        @include breakpoint(medium) {
            min-height: 300px;
            padding: ($global-padding * 3);
        }
    }

    .w-content__landing-teaser-image {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .w-content__landing-teaser__title {
        @include font-size(4);

        @include breakpoint(medium) {
            @include font-size(7);
        }
    }

    .w-content__landing-teaser__subtitle {
        @include font-size(1.5);

        @include breakpoint(medium) {
            @include font-size(3);
        }
    }
}

// -------------------------------
// Content Page :: Product Landing
// -------------------------------
.w-content__landing-product {
    .w-section__content__row {
        @include w-box($white, 0, 0, 5px, rgba($shadow-color, .5));

        @include breakpoint(large) {
            @include grid-row(12);
        }
    }

    .w-product-gallery {
        margin-top: 0;

        @include breakpoint(large) {
            @include grid-column(9);
        }

        .swiper-button-next,
        .swiper-button-prev {
            @include breakpoint(large) {
                left: 40px;
            }
        }

        .swiper-button-prev {
            @include breakpoint(large) {
                top: 20px;
            }
        }
    }

    .w-product-gallery__thumbnails {
        padding: ($global-padding / 2);

        @include breakpoint(large) {
            height: 412px;
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }

    .w-content__landing-product__details {
        @include grid-column(12);

        @include breakpoint(large) {
            @include grid-column(3);
        }

        .w-product__wrapper {
            @include breakpoint(medium only) {
                @include grid-row(14);
            }
        }

        .w-product,
        .w-product__availability {
            @include grid-column(12,0);
        }

        .w-product__image {
            min-height: auto;

            @include breakpoint(medium only) {
                @include grid-column(3);
            }
        }

        .w-product__description {
            @include breakpoint(medium only) {
                @include grid-column(7);
            }
        }

        .w-product__details {
            @include breakpoint(medium only) {
                @include grid-column(4);
            }
        }

        .w-product__footer {
            @include breakpoint(medium only) {
                @include grid-column(14);
            }

            button {
                margin-bottom: ($global-margin / 2);
                width: 100%;

                @include breakpoint(medium only) {
                    float: left;
                    margin-left: .5%;
                    margin-right: .5%;
                    width: 49%;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

// -------------------------------
// Content Page :: Steps
// -------------------------------
.w-content__landing-step {
    .w-content__landing-step__number {
        @include breakpoint(medium) {
            @include grid-column(1);
            @include font-size(5);
        }
    }

    .w-content__landing-step__desc {
        @include breakpoint(medium) {
            @include grid-column(11);
            @include font-size(2.5);
        }
    }
}

.w-gallery-thumbs {
    box-sizing: border-box;
    padding: ($global-padding / 2) 0;

    .swiper-slide {
        opacity: 0.4;
    }

    .swiper-slide-active {
        opacity: 1;
    }
}

// -------------------------------
// Content Page :: Steps
// -------------------------------
.w-content__landing-step {
    .w-section-content__box {
        @include grid-row(12);
    }

    .w-content__landing-step__number {
        @include grid-column(2);
        @include font-size(3);
        color: $primary-color;
        font-weight: $global-weight-bold;
        line-height: 1;

        @include breakpoint(medium) {
            @include grid-column(1);
            @include font-size(5);
        }
    }

    .w-content__landing-step__desc {
        @include grid-column(10);
        @include grid-column-end;
        @include font-size(1.5);
        font-weight: $global-weight-thin;
        line-height: 1;
        margin-bottom: 0;

        @include breakpoint(medium) {
            @include grid-column(11);
            @include font-size(2.5);
        }

        b {
            display: block;
            font-weight: $global-weight-normal;
            margin-top: ($global-margin / 2);
        }
    }
}

.w-content__landing-step__wrapper {
    @include grid-row;
    @include w-box($white, 0, 0, 5px, rgba($shadow-color, .5));
    padding: $global-padding;
}
